@font-face {
  font-family: 'StratosSkyeng';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/stratosskyengweb-regular.woff2') format('woff2'), url('../fonts/stratosskyengweb-regular.woff') format('woff');
}

@font-face {
  font-family: 'StratosSkyeng';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/stratosskyengweb-medium.woff2') format('woff2'), url('../fonts/stratosskyengweb-medium.woff') format('woff');
}

@font-face {
  font-family: 'StratosSkyeng';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/stratosskyengweb-semibold.woff2') format('woff2'), url('../fonts/stratosskyengweb-semibold.woff') format('woff');
}

@font-face {
  font-family: 'StratosSkyeng';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/stratosskyengweb-italic.woff2') format('woff2'), url('../fonts/stratosskyengweb-italic.woff') format('woff');
}

@font-face {
  font-family: 'StratosSkyeng';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/stratosskyengweb-italic.woff2') format('woff2'), url('../fonts/stratosskyengweb-italic.woff') format('woff');
}

@font-face {
  font-family: 'StratosSkyeng';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/stratosskyengweb-semibolditalic.woff2') format('woff2'),
    url('../fonts/stratosskyengweb-semibolditalic.woff') format('woff');
}
