@import "stratos-skyeng.css";
body {
  font-family: StratosSkyeng, sans-serif;
}

.content-container {
  margin: 0 auto;
}
@media screen and (min-width: 1152px) {
  .content-container {
    width: 1152px;
  }
}
@media screen and (max-width: 992px) {
  .content-container {
    width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .content-container {
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .content-container {
    width: 343px;
    padding: 0 16px;
  }
}

.page-header {
  display: grid;
  grid-template-areas: "logo nav user";
  grid-template-columns: auto 1fr;
  height: 56px;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .page-header {
    grid-template-areas: "logo user";
    grid-template-columns: auto 1fr 0;
  }
}
.page-header__logo {
  grid-area: logo;
  width: 165px;
  height: fit-content;
}
.page-header__nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  margin: 0 43px;
}
@media screen and (max-width: 992px) {
  .page-header__nav {
    display: none;
  }
}
.page-header__nav > .nav-element:not(:last-child) {
  margin-right: 20px;
}
.page-header__user-section {
  grid-area: user;
}

.user-section__elements-wrap {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .user-section__elements-wrap {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 450px) {
  .user-section__elements-wrap_desktop {
    display: none;
  }
}
@media screen and (min-width: 451px) {
  .user-section__elements-wrap_mobile {
    display: none;
  }
}
.user-section__element {
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}
.user-section__element:not(:last-child) {
  margin-right: 28px;
}

.nav-element {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;
}
.nav-element__icon {
  width: 7.5px;
  height: 5px;
  margin-left: 7px;
}
.nav-element__icon_dropdown {
  background: url("../img/navigation-dropdown-icon.svg") no-repeat 100%;
}
.nav-element__icon_direct {
  line-height: 6px;
}

.title-section {
  position: relative;
  margin-top: 45px;
}
.title-section__text {
  font-size: 148px;
  font-weight: normal;
  line-height: 148px;
  letter-spacing: -4px;
  font-feature-settings: "pnum" on, "lnum" on;
  margin: 0;
}
@media screen and (max-width: 992px) {
  .title-section__text {
    font-size: 118px;
    line-height: 118px;
  }
}
@media screen and (max-width: 768px) {
  .title-section__text {
    font-size: 98px;
    line-height: 98px;
  }
}
@media screen and (max-width: 640px) {
  .title-section__text {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.3px;
  }
}
.title-section__sticker {
  position: absolute;
  opacity: 0;
  z-index: 1;
}
.title-section__sticker_first {
  width: 238px;
  height: 151px;
  right: 392px;
  top: 214px;
  background: url("../img/stickers/title_section_first_blured.png") no-repeat 100%;
  transform: rotate(-0.84deg);
}
@media screen and (max-width: 1152px) {
  .title-section__sticker_first {
    background: url("../img/stickers/title_section_first_clean.svg") no-repeat 100%;
    right: 15px;
    top: 49px;
  }
}
@media screen and (max-width: 375px) {
  .title-section__sticker_first {
    right: 29px;
    top: 33px;
    transform: rotate(3.16deg);
    width: 123px;
    height: 80px;
  }
}
.title-section__sticker_second {
  position: absolute;
  width: 535.89px;
  height: 228.65px;
  right: 23px;
  top: 92.72px;
  background: url("../img/stickers/title_section_second_blured.png") no-repeat 100%;
  transform: rotate(0.34deg);
}
@media screen and (max-width: 1152px) {
  .title-section__sticker_second {
    background: url("../img/stickers/title_section_second_clean.svg") no-repeat 100%;
    right: 50px;
  }
}
@media screen and (max-width: 375px) {
  .title-section__sticker_second {
    right: 23px;
    width: 274px;
    height: 105px;
    top: 73px;
  }
}
.title-section__sticker_visible {
  opacity: 1;
}
@media (prefers-reduced-motion: no-preference) {
  .title-section__sticker_visible {
    animation: sticker-enter 0.5s 1;
  }
}

.benefits-section {
  margin-top: 130px;
  position: relative;
}
@media screen and (max-width: 375px) {
  .benefits-section {
    margin-top: 65px;
  }
}
.benefits-section__cards {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 375px) {
  .benefits-section__cards {
    flex-direction: column;
  }
}
.benefits-section__free-lesson {
  display: flex;
  justify-content: flex-end;
  margin-top: 36px;
}
.benefits-section__free-lesson-arrow {
  width: 100%;
  height: 0;
  position: absolute;
  top: -125px;
  left: -144px;
  background: url("../img/free_lesson_arrow.png") no-repeat;
  pointer-events: none;
}
@media screen and (max-width: 375px) {
  .benefits-section__free-lesson-arrow {
    background: url("../img/free_lesson_arrow_small.png") no-repeat;
    top: 410px;
    left: 30px;
    width: 270px;
  }
}
.benefits-section__free-lesson-arrow_visible {
  height: 670px;
  transition: height 0.5s;
}
@media screen and (max-width: 375px) {
  .benefits-section__free-lesson-arrow_visible {
    height: 105px;
  }
}
.benefits-section__free-lesson-link-wrapper {
  width: 312px;
  padding: 0 27px;
}
.benefits-section__free-lesson-link {
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.1px;
  color: #00C1FF;
  text-decoration: none;
}

.benefit-card {
  width: 368px;
  height: 368px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 375px) {
  .benefit-card {
    width: 100%;
    height: 132px;
    flex-direction: row;
    align-items: end;
  }
  .benefit-card:not(:last-child) {
    margin-bottom: 16px;
  }
}
.benefit-card_green {
  background-color: #DBFFE9;
}
.benefit-card_green > .benefit-card__title {
  color: #00A665;
}
.benefit-card_blue {
  background-color: #E4FBFF;
}
.benefit-card_blue > .benefit-card__title {
  color: #0080C1;
}
.benefit-card_orange {
  background-color: #FFF4C5;
}
.benefit-card_orange > .benefit-card__title {
  color: #FF9E00;
}
.benefit-card__title {
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.1px;
  font-feature-settings: "pnum" on, "lnum" on;
  padding: 24px 28px;
}
@media screen and (max-width: 375px) {
  .benefit-card__title {
    font-size: 24px;
    line-height: 30px;
    padding: 16px 0 0 20px;
  }
}
.benefit-card__icon {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}
.benefit-card__icon_backpack {
  background-image: url("../img/benefits_cards/backpack.png");
  background-position: 50% -16px;
}
@media screen and (max-width: 375px) {
  .benefit-card__icon_backpack {
    background-image: url("../img/benefits_cards/backpack_small.png");
    background-position: -14px 50%;
    width: 177px;
  }
}
.benefit-card__icon_hat {
  background-image: url("../img/benefits_cards/hat.png");
  background-position: 50% -77px;
}
@media screen and (max-width: 375px) {
  .benefit-card__icon_hat {
    background-image: url("../img/benefits_cards/hat_small.png");
    background-position: -18px 50%;
    width: 260px;
  }
}
.benefit-card__icon_gamepad {
  background-image: url("../img/benefits_cards/gamepad.png");
  background-position: 50% -74px;
}
@media screen and (max-width: 375px) {
  .benefit-card__icon_gamepad {
    background-image: url("../img/benefits_cards/gamepad_small.png");
    background-position: -19px 50%;
    width: 230px;
  }
}

@keyframes free-lesson-arrow-enter {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 670px;
    opacity: 1;
  }
}
.preview-section__title {
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: -0.4px;
}
@media screen and (max-width: 375px) {
  .preview-section__title {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.1px;
  }
}
.preview-section__selector-wrapper {
  display: flex;
}
@media screen and (max-width: 375px) {
  .preview-section__selector-wrapper {
    flex-direction: column;
  }
}
.preview-section__selector {
  font-size: 32px;
  text-align: center;
  letter-spacing: -0.1px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 40px;
  padding: 15px 23px;
  color: rgba(0, 0, 0, 0.48);
  cursor: pointer;
  user-select: none;
}
.preview-section__selector:hover:not(.preview-section__selector_active) {
  border: 1px solid rgba(0, 0, 0, 0.48);
}
.preview-section__selector:not(:last-child) {
  margin-right: 10px;
}
@media screen and (max-width: 375px) {
  .preview-section__selector:not(:last-child) {
    margin-right: 0;
    margin-bottom: 12px;
  }
}
.preview-section__selector_active {
  border: 1px solid #00C1FF;
  background: #00C1FF;
  color: #fff;
}
.preview-section__player {
  width: 100%;
  border-radius: 24px;
}
@media screen and (max-width: 375px) {
  .preview-section__player {
    object-fit: cover;
    height: 100%;
  }
}
.preview-section__player-wrapper {
  position: relative;
  margin-top: 30px;
}
@media screen and (max-width: 375px) {
  .preview-section__player-wrapper {
    aspect-ratio: 1;
  }
}
.preview-section__player-audio {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 72px;
  height: 72px;
  border-radius: 48px;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url("../img/sound_on_icon.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  cursor: pointer;
}
.preview-section__player-audio:hover {
  background-color: #FFFFFF;
}
.preview-section__player-audio_mute {
  background-image: url("../img/sound_off_icon.svg");
}
@media screen and (max-width: 375px) {
  .preview-section__player-audio {
    width: 48px;
    height: 48px;
    top: 12px;
    left: 12px;
    background-size: 50%;
  }
}

.heart-section {
  position: relative;
  margin-top: 220px;
}
@media screen and (max-width: 375px) {
  .heart-section {
    margin-top: 64px;
  }
}
.heart-section__text {
  width: 620px;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: -0.4px;
}
@media screen and (max-width: 375px) {
  .heart-section__text {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.1px;
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .heart-section__text_desktop {
    display: none;
  }
}
@media screen and (min-width: 451px) {
  .heart-section__text_mobile {
    display: none;
  }
}
.heart-section__shape {
  position: absolute;
  top: -103px;
  right: 35px;
  width: 0;
  height: 0;
  background: url("../img/heart.png") no-repeat 100% 0;
}
@media screen and (max-width: 375px) {
  .heart-section__shape {
    background: url("../img/heart_small.png") no-repeat 100% 0;
    top: 130px;
    right: -22px;
  }
}
.heart-section__shape_visible {
  width: 654px;
  height: 602px;
}
@media (prefers-reduced-motion: no-preference) {
  .heart-section__shape_visible {
    animation: heart-shape-enter 0.5s 1;
  }
}
.heart-section__sticker {
  position: absolute;
  opacity: 0;
}
.heart-section__sticker_first {
  width: 371px;
  height: 196px;
  top: 241px;
  right: -3px;
  transform: rotate(0.21deg);
  background: url("../img/stickers/heart_section_second.png") no-repeat center/100%;
}
@media screen and (max-width: 375px) {
  .heart-section__sticker_first {
    width: 178px;
    height: 100px;
    top: 312px;
    right: 150px;
  }
}
.heart-section__sticker_second {
  width: 478px;
  height: 192px;
  top: 108px;
  right: -35px;
  transform: rotate(-0.41deg);
  background: url("../img/stickers/heart_section_first.png") no-repeat center/100%;
}
@media screen and (max-width: 375px) {
  .heart-section__sticker_second {
    width: 222px;
    height: 92px;
    top: 253px;
    right: 139px;
  }
}
.heart-section__sticker_visible {
  opacity: 1;
}
@media (prefers-reduced-motion: no-preference) {
  .heart-section__sticker_visible {
    animation: sticker-enter 0.5s 1;
  }
}
@keyframes heart-shape-enter {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: 654px;
    height: 602px;
  }
}

.subscribe-section {
  position: relative;
  margin-top: 230px;
  display: grid;
  grid-template-areas: "al text" "al arrow";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
}
@media screen and (max-width: 375px) {
  .subscribe-section {
    grid-template-areas: "text" "arrow" "al";
    margin-top: 396px;
  }
}
.subscribe-section__al {
  grid-area: al;
  width: 500px;
  height: 810px;
  background: url("../img/al.png") no-repeat 100%;
  z-index: 1;
}
@media screen and (max-width: 375px) {
  .subscribe-section__al {
    width: 100%;
    height: 450px;
    background-size: 100%;
  }
}
.subscribe-section__text {
  grid-area: text;
  font-size: 64px;
  line-height: 70px;
  letter-spacing: -0.4px;
  margin: 56px 35px 0 0;
}
@media screen and (max-width: 375px) {
  .subscribe-section__text {
    margin: 0;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.1px;
  }
}
.subscribe-section__arrow {
  grid-area: arrow;
  width: 0;
  height: 236px;
  background: url("../img/subscribe_arrow.png") no-repeat 100%;
  position: absolute;
  right: 225px;
  top: 60px;
}
@media screen and (max-width: 375px) {
  .subscribe-section__arrow {
    background: url("../img/subscribe_arrow_small.png") no-repeat 100%;
    width: 0;
    height: 243.3px;
    left: 35px;
    top: 35px;
    transform: rotate(-1.14deg);
  }
}
.subscribe-section__arrow_visible {
  width: 495px;
  transition: width 0.5s;
}
@media screen and (max-width: 375px) {
  .subscribe-section__arrow_visible {
    width: 272.93px;
  }
}
.subscribe-section__pizza {
  width: 250px;
  height: 250px;
  background: url("../img/pizza.png");
  position: absolute;
  bottom: 110px;
  right: 95px;
  z-index: 2;
}
@media screen and (max-width: 375px) {
  .subscribe-section__pizza {
    width: 133px;
    height: 133px;
    background-size: 100%;
    bottom: 42px;
    right: auto;
    left: -9px;
  }
}
.subscribe-section__pizza_aligned {
  transition: top 0.3s, left 0.3s;
}
.subscribe-section__pizza-drop-zone {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 318px;
  left: 235px;
}
@media screen and (max-width: 375px) {
  .subscribe-section__pizza-drop-zone {
    width: 133px;
    height: 133px;
    top: 293px;
    left: 216px;
  }
}
.subscribe-section__sticker {
  position: absolute;
  width: 610.43px;
  height: 219.43px;
  bottom: 289px;
  right: 73px;
  background: url("../img/stickers/subscribe_section_done.png") no-repeat 100%;
  opacity: 0;
}
@media screen and (max-width: 375px) {
  .subscribe-section__sticker {
    width: 286.25px;
    height: 103px;
    background-size: 100%;
    bottom: -33px;
    right: 40px;
  }
}
.subscribe-section__sticker_visible {
  opacity: 1;
}
@media (prefers-reduced-motion: no-preference) {
  .subscribe-section__sticker_visible {
    animation: sticker-enter 0.5s 1;
  }
}

.page-footer {
  display: flex;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 20px;
}
@media screen and (max-width: 375px) {
  .page-footer {
    flex-wrap: wrap;
  }
}
.page-footer__logo {
  height: 19px;
  flex-shrink: 0;
}
@media screen and (max-width: 375px) {
  .page-footer__logo {
    height: 16px;
  }
}
.page-footer__copyright {
  font-size: 24px;
  line-height: 32px;
  flex-shrink: 0;
  margin-left: 10px;
}
@media screen and (max-width: 375px) {
  .page-footer__copyright {
    font-size: 20px;
    line-height: 26px;
  }
}
.page-footer__barrel {
  width: 100%;
  font-size: 24px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.48);
  text-align: right;
  margin-left: 10px;
}
@media screen and (max-width: 375px) {
  .page-footer__barrel {
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    margin-left: 0;
    margin-top: 15px;
  }
}

@keyframes sticker-enter {
  from {
    transform: scale(1.5);
    filter: blur(5px);
    opacity: 0;
  }
  to {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
