@import "stratos-skyeng.css";
@import "inc/variables";
@import "inc/responsive";

//region Page
body{
  font-family: $font_main;
}

.content-container {
  margin: 0 auto;

  @include min-screen($break-large) {
    width: $break-large;
  }

  @include max-screen($break-medium) {
    width: $break-small;
  }

  @include max-screen($break-small) {
    width: 100%;
  }

  @include max-screen($break-mobile) {
    width: $break-mobile - 32;
    padding: 0 16px;
  }
}
//endregion

//region Page header
.page-header {
  display: grid;
  grid-template-areas:"logo nav user";
  grid-template-columns: auto 1fr;
  height: 56px;
  align-items: center;

  @include max-screen($break-medium) {
    grid-template-areas:"logo user";
    grid-template-columns: auto 1fr 0;
  }

  &__logo {
    grid-area: logo;
    width: 165px;
    height: fit-content;
  }

  &__nav {
    grid-area: nav;
    display: flex;
    align-items: center;
    margin: 0 43px;

    @include max-screen($break-medium) {
      display: none;
    }

    & > .nav-element:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__user-section {
    grid-area: user;
  }
}

// User Section
.user-section {
  &__elements-wrap {
    display: flex;
    align-items: center;

    @include max-screen($break-medium) {
      justify-content: flex-end;
    }

    &_desktop {
      @include max-screen(450px) {
        display: none;
      }
    }

    &_mobile {
      @include min-screen(451px) {
        display: none;
      }
    }
  }

  &__element {
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
  }

  &__element:not(:last-child) {
    margin-right: 28px;
  }
}

//endregion

//region Navigation
.nav-element {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  line-height: 24px;

  &_dropdown {
  }

  &__title {
  }

  &__icon {
    width: 7.5px;
    height: 5px;
    margin-left: 7px;

    &_dropdown {
      background: url($image_folder_path + 'navigation-dropdown-icon.svg') no-repeat 100%;
    }

    &_direct {
      line-height: 6px;
    }
  }
}

//endregion

//region Title section
.title-section{
  position: relative;
  margin-top: 45px;

  &__text{
    font-size: 148px;
    font-weight: normal;
    line-height: 148px;
    letter-spacing: -4px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin: 0;

    @include max-screen($break-medium) {
      font-size: 118px;
      line-height: 118px;
    }

    @include max-screen($break-small) {
      font-size: 98px;
      line-height: 98px;
    }

    @include max-screen($break-xsmall) {
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -0.3px;
    }
  }

  &__sticker{
    position: absolute;
    opacity: 0;
    z-index: 1;

    &_first{
      width: 238px;
      height: 151px;
      right: 392px;
      top: 214px;
      background: url($image_folder_path + 'stickers/title_section_first_blured.png') no-repeat 100%;
      transform: rotate(-0.84deg);

      @include max-screen($break-large) {
        background: url($image_folder_path + 'stickers/title_section_first_clean.svg') no-repeat 100%;
        right: 15px;
        top: 49px;
      }

      @include max-screen($break-mobile) {
        right: 29px;
        top: 33px;
        transform: rotate(3.16deg);
        width: 123px;
        height: 80px;
      }
    }

    &_second{
      position: absolute;
      width: 535.89px;
      height: 228.65px;
      right: 23px;
      top: 92.72px;
      background: url($image_folder_path + 'stickers/title_section_second_blured.png') no-repeat 100%;
      transform: rotate(0.34deg);

      @include max-screen($break-large) {
        background: url($image_folder_path + 'stickers/title_section_second_clean.svg') no-repeat 100%;
        right: 50px;
      }

      @include max-screen($break-mobile) {
        right: 23px;
        width: 274px;
        height: 105px;
        top: 73px;
      }
    }

    &_visible{
      opacity: 1;

      @media (prefers-reduced-motion: no-preference) {
        animation: sticker-enter .5s 1;
      }
    }
  }
}
//endregion

//region Benefits section
.benefits-section{
  margin-top: 130px;
  position: relative;

  @include max-screen($break-mobile) {
    margin-top: 65px;
  }

  &__cards{
    display: flex;
    justify-content: space-between;

    @include max-screen($break-mobile) {
      flex-direction: column;
    }
  }


  &__free-lesson{
    display: flex;
    justify-content: flex-end;
    margin-top: 36px;

    &-arrow{
      width: 100%;
      height: 0;
      position: absolute;
      top: -125px;
      left: -144px;
      background: url($image_folder_path + 'free_lesson_arrow.png') no-repeat;
      pointer-events: none;

      @include max-screen($break-mobile) {
        background: url($image_folder_path + 'free_lesson_arrow_small.png') no-repeat;
        top: 410px;
        left: 30px;
        width: 270px;
      }

      &_visible{
        height: 670px;
        transition: height .5s;

        @include max-screen($break-mobile) {
          height: 105px;
        }
      }
    }

    &-link-wrapper{
      width: 312px;
      padding: 0 27px;
    }

    &-link{
      font-size: 32px;
      line-height: 38px;
      letter-spacing: -0.1px;
      color: #00C1FF;
      text-decoration: none;
    }
  }
}

.benefit-card{
  width: 368px;
  height: 368px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  @include max-screen($break-mobile) {
    width: 100%;
    height: 132px;
    flex-direction: row;
    align-items: end;

    &:not(:last-child){
      margin-bottom: 16px;
    }
  }

  &_green{
    background-color: #DBFFE9;

    & > .benefit-card__title{
      color: #00A665;
    }
  }

  &_blue{
    background-color: #E4FBFF;

    & > .benefit-card__title{
      color: #0080C1;
    }
  }

  &_orange{
    background-color: #FFF4C5;

    & > .benefit-card__title{
      color: #FF9E00;
    }
  }

  &__title{
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.1px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    padding: 24px 28px;

    @include max-screen($break-mobile) {
      font-size: 24px;
      line-height: 30px;
      padding: 16px 0 0 20px;
    }
  }

  &__icon{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;

    &_backpack{
      background-image: url($image_folder_path + 'benefits_cards/backpack.png');
      background-position: 50% -16px;

      @include max-screen($break-mobile) {
        background-image: url($image_folder_path + 'benefits_cards/backpack_small.png');
        background-position: -14px 50%;
        width: 177px;
      }
    }

    &_hat{
      background-image: url($image_folder_path + 'benefits_cards/hat.png');
      background-position: 50% -77px;

      @include max-screen($break-mobile) {
        background-image: url($image_folder_path + 'benefits_cards/hat_small.png');
        background-position: -18px 50%;
        width: 260px;
      }
    }

    &_gamepad{
      background-image: url($image_folder_path + 'benefits_cards/gamepad.png');
      background-position: 50% -74px;

      @include max-screen($break-mobile) {
        background-image: url($image_folder_path + 'benefits_cards/gamepad_small.png');
        background-position: -19px 50%;
        width: 230px;
      }
    }
  }
}

@keyframes free-lesson-arrow-enter {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 670px;
    opacity: 1;
  }
}
//endregion

//region Preview section
.preview-section{
  &__title{
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: -0.4px;

    @include max-screen($break-mobile) {
      font-size: 32px;
      line-height: 38px;
      letter-spacing: -0.1px;
    }
  }

  &__selector-wrapper{
    display: flex;

    @include max-screen($break-mobile) {
      flex-direction: column;
    }
  }

  &__selector{
    font-size: 32px;
    text-align: center;
    letter-spacing: -0.1px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 40px;
    padding: 15px 23px;
    color: rgba(0, 0, 0, 0.48);
    cursor: pointer;
    user-select: none;

    &:hover:not(.preview-section__selector_active){
      border: 1px solid rgba(0, 0, 0, 0.48);
    }

    &:not(:last-child){
      margin-right: 10px;

      @include max-screen($break-mobile) {
        margin-right: 0;
        margin-bottom: 12px;
      }
    }

    &_active{
      border: 1px solid #00C1FF;
      background: #00C1FF;
      color: #fff;
    }
  }

  &__player{
    width: 100%;
    border-radius: 24px;

    @include max-screen($break-mobile) {
      object-fit: cover;
      height: 100%;
    }
  }

  &__player-wrapper{
    position: relative;
    margin-top: 30px;

    @include max-screen($break-mobile) {
      aspect-ratio: 1;
    }
  }

  &__player-audio{
    position: absolute;
    top: 24px;
    left: 24px;
    width: 72px;
    height: 72px;
    border-radius: 48px;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url($image_folder_path + 'sound_on_icon.svg');
    background-repeat: no-repeat;
    background-position: 50%;
    cursor: pointer;

    &:hover{
      background-color: #FFFFFF;
    }

    &_mute{
      background-image: url($image_folder_path + 'sound_off_icon.svg');
    }

    @include max-screen($break-mobile) {
      width: 48px;
      height: 48px;
      top: 12px;
      left: 12px;
      background-size: 50%;
    }
  }
}
//endregion

//region Heart section
.heart-section{
  position: relative;
  margin-top: 220px;

  @include max-screen($break-mobile) {
    margin-top: 64px;
  }

  &__text{
    width: 620px;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: -0.4px;

    @include max-screen($break-mobile) {
      font-size: 32px;
      line-height: 38px;
      letter-spacing: -0.1px;
      width: 100%;
    }

    &_desktop {
      @include max-screen(450px) {
        display: none;
      }
    }

    &_mobile {
      @include min-screen(451px) {
        display: none;
      }
    }
  }

  $heart-shape-width: 654px;
  $heart-shape-height: 602px;

  &__shape{
    position: absolute;
    top: -103px;
    right: 35px;
    width: 0;
    height: 0;
    background: url($image_folder_path + 'heart.png') no-repeat 100% 0;

    @include max-screen($break-mobile) {
      background: url($image_folder_path + 'heart_small.png') no-repeat 100% 0;
      top: 130px;
      right: -22px;
    }

    &_visible{
      width: $heart-shape-width;
      height: $heart-shape-height;

      @media (prefers-reduced-motion: no-preference) {
        animation: heart-shape-enter .5s 1;
      }
    }
  }

  &__sticker{
    position: absolute;
    opacity: 0;

    &_first{
      width: 371px;
      height: 196px;
      top: 241px;
      right: -3px;
      transform: rotate(0.21deg);
      background: url($image_folder_path + 'stickers/heart_section_second.png') no-repeat center/100%;

      @include max-screen($break-mobile) {
        width: 178px;
        height: 100px;
        top: 312px;
        right: 150px;
      }
    }
    &_second{
      width: 478px;
      height: 192px;
      top: 108px;
      right: -35px;
      transform: rotate(-0.41deg);
      background: url($image_folder_path + 'stickers/heart_section_first.png') no-repeat center/100%;

      @include max-screen($break-mobile) {
        width: 222px;
        height: 92px;
        top: 253px;
        right: 139px;
      }
    }

    &_visible{
      opacity: 1;

      @media (prefers-reduced-motion: no-preference) {
        animation: sticker-enter .5s 1;
      }
    }
  }

  @keyframes heart-shape-enter {
    from {
      width: 0;
      height: 0;
    }
    to {
      width: $heart-shape-width;
      height: $heart-shape-height;
    }
  }
}
//endregion

//region Subscribe section
.subscribe-section{
  position: relative;
  margin-top: 230px;
  display: grid;
  grid-template-areas:
    "al text"
    "al arrow";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;

  @include max-screen($break-mobile) {
    grid-template-areas:
    "text"
    "arrow"
    "al";
    margin-top: 396px;
  }

  &__al{
    grid-area: al;
    width: 500px;
    height: 810px;
    background: url($image_folder_path + 'al.png') no-repeat 100%;
    z-index: 1;

    @include max-screen($break-mobile) {
      width: 100%;
      height: 450px;
      background-size: 100%;
    }
  }

  &__text{
    grid-area: text;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: -0.4px;
    margin: 56px 35px 0 0;

    @include max-screen($break-mobile) {
      margin: 0;
      font-size: 32px;
      line-height: 38px;
      letter-spacing: -0.1px;
    }
  }

  &__arrow{
    grid-area: arrow;
    width: 0;
    height: 236px;
    background: url($image_folder_path + 'subscribe_arrow.png') no-repeat 100%;
    position: absolute;
    right: 225px;
    top: 60px;

    @include max-screen($break-mobile) {
      background: url($image_folder_path + 'subscribe_arrow_small.png') no-repeat 100%;
      width: 0;
      height: 243.3px;
      left: 35px;
      top: 35px;
      transform: rotate(-1.14deg);

    }

    &_visible{
      width: 495px;
      transition: width .5s;

      @include max-screen($break-mobile) {
        width: 272.93px;
      }
    }
  }

  &__pizza{
    width:250px;
    height: 250px;
    background: url($image_folder_path + 'pizza.png');
    position: absolute;
    bottom: 110px;
    right: 95px;
    z-index: 2;

    @include max-screen($break-mobile) {
      width: 133px;
      height: 133px;
      background-size: 100%;
      bottom: 42px;
      right: auto;
      left: -9px;
    }

    &_aligned{
      transition: top .3s, left .3s;
    }
  }

  &__pizza-drop-zone{
    width:250px;
    height: 250px;
    position: absolute;
    top: 318px;
    left: 235px;

    @include max-screen($break-mobile) {
      width: 133px;
      height: 133px;
      top: 293px;
      left: 216px;
    }
  }

  &__sticker{
    position: absolute;
    width: 610.43px;
    height: 219.43px;
    bottom: 289px;
    right: 73px;
    background: url($image_folder_path + 'stickers/subscribe_section_done.png') no-repeat 100%;
    opacity: 0;

    @include max-screen($break-mobile) {
      width: 286.25px;
      height: 103px;
      background-size: 100%;
      bottom: -33px;
      right: 40px;
    }

    &_visible{
      opacity: 1;

      @media (prefers-reduced-motion: no-preference) {
        animation: sticker-enter .5s 1;
      }
    }
  }
}
//endregion

//region Page footer
.page-footer{
  display: flex;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 20px;

  @include max-screen($break-mobile) {
    flex-wrap: wrap;
  }

  &__logo{
    height: 19px;
    flex-shrink: 0;

    @include max-screen($break-mobile) {
      height: 16px;
    }
  }

  &__copyright{
    font-size: 24px;
    line-height: 32px;
    flex-shrink: 0;
    margin-left: 10px;

    @include max-screen($break-mobile) {
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__barrel{
    width: 100%;
    font-size: 24px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.48);
    text-align: right;
    margin-left: 10px;

    @include max-screen($break-mobile) {
      font-size: 20px;
      line-height: 26px;
      text-align: left;
      margin-left: 0;
      margin-top: 15px;
    }
  }
}
//endregion

//region Animations
@keyframes sticker-enter {
  from {
    transform: scale(1.5);
    filter: blur(5px);
    opacity: 0;
  }
  to {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}
//endregion
