// Breakpoints
$break-mobile: 375px;
$break-xsmall: 640px;
$break-small: 768px;
$break-medium: 992px;
$break-1024: 1024px;
$break-large: 1152px;
$break-1280: 1280px;
$break-xlarge: 1440px;

// mixins for mobile responsiveness

@mixin screen($res-min, $res-max) {
  @media screen and ( min-width: $res-min ) and ( max-width: $res-max ) {
    @content;
  }
}

@mixin max-screen($res) {
  @media screen and ( max-width: $res ) {
    @content;
  }
}

@mixin min-screen($res) {
  @media screen and ( min-width: $res ) {
    @content;
  }
}
